<% title "Noticias" %>
  <% for announcement in @announcements %>
      <hr />
      <h2><%=h announcement.title %></h2>
      <p><%=h announcement.body %></p>
      <% if admin? -%>
        <%= link_to "Show", announcement %> |
        <%= link_to "Edit", edit_announcement_path(announcement) %> |
        <%= link_to "Destroy", announcement, :confirm => 'Are you sure?', :method => :delete %>
      <% end -%>
  <% end %>
<hr />
<p><%= link_to "Crear Nuevo Anuncio", new_announcement_path if admin?%></p>

