<% title "Menus" %>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
  </tr>
  <% for menu in @menus %>
    <tr>
      <td><%=h menu.title %></td>
      <td><%=h menu.link %></td>
      <td><%= link_to "Show", menu %></td>
      <td><%= link_to "Edit", edit_menu_path(menu) %></td>
      <td><%= link_to "Destroy", menu, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Menu", new_menu_path %></p>
