<% title "Menu" %>

<p>
  <strong>Title:</strong>
  <%=h @menu.title %>
</p>
<p>
  <strong>Link:</strong>
  <%=h @menu.link %>
</p>

<p>
  <%= link_to "Edit", edit_menu_path(@menu) %> |
  <%= link_to "Destroy", @menu, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", menus_path %>
</p>
