  <div class="opened_link" id="general" style="background-color: #DDDDDD;">
    <h2 style="display:inline">Datos Generales</h2>
    <hr />
    <table>
	    <tr>
		    <td style="vertical-align:bottom">
              <%= f.label :fecha_emision %><br />
              <%= f.calendar_date_select :fecha_emision, :popup => "force" %>
		    </td>
		    <td style="vertical-align:bottom">
              <%= f.label :fecha_inicio_gestion %><br />
              <%= f.calendar_date_select :fecha_inicio_gestion, :popup => "force"%>
            </td>
		    <td style="vertical-align:bottom">
              <%= f.label :ejecutiva, "Ejecutiva/o" %><br />
              <%= f.collection_select :user_id, @users, :id, :nombre_completo %>
		    </td>
	    </tr>
	    <tr>
		    <td style="vertical-align:bottom">
              <%= f.label :plazo_gestion %><br />
              <%= select_tag "presupuesto[plazo_gestion]", plazos([30,45])%>
		    </td>
            <td>
              <%= f.label :prevision_id,"Prevision" %> <br />
              <%= f.collection_select :prevision_id, Prevision.all, :id, :name %>
            </td>
		    <td style="vertical-align:bottom">
                <%= f.label "Pendiente?" %>
                <%= f.check_box :pending %>
		    </td>
		</tr>
    </table>
  </div>

