  <div class="closed_link" id="general_handler" style="display:none; background-color: #DDDDDD;">
    <h2 style="display:inline">Datos Generales</h2> <a href="#" onclick="$(this).up().toggle(); $(this).up().next().toggle();">mostrar</a>
  </div>
  <div class="opened_link" id="general" style="background-color: #DDDDDD;">
    <h2 style="display:inline">Datos Generales</h2> <a href="#" onclick="$(this).up().toggle(); $(this).up().previous().toggle();">ocultar</a>
    <hr />
    <table>
	    <tr>
		    <td style="vertical-align:bottom">
                <p>
                  <%= f.label :fecha_emision %><br />
                  <%= f.calendar_date_select :fecha_emision, :popup => "force" %>
                </p>
		    </td>
		    <td style="vertical-align:bottom">
                <p>
                  <%= f.label :fecha_inicio_gestion %><br />
                  <%= f.calendar_date_select :fecha_inicio_gestion, :popup => "force"%>
                </p>
		    </td>
	    </tr>
	    <tr>
		    <td style="vertical-align:bottom">
                <p>
                  <%= f.label :ejecutiva, "Ejecutiva/o" %><br />
                  <%= f.collection_select :user_id, @users, :id, :nombre_completo %>
                </p>
		    </td>
		    <td style="vertical-align:bottom">
                <p>
                  <%= f.label :plazo_gestion %><br />
                  <%= select_tag "presupuesto[plazo_gestion]", plazos([30,45])%>
                </p>
		    </td>
		    <td style="vertical-align:bottom">
                <p>
                    <%= f.label "Pendiente?" %>
                    <%= f.check_box :pending %>
                </p>
		    </td>
	    </tr>
    </table>
  </div>

