<% title "Ejecutivas" %>

<table>
  <tr>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Apellido Materno</th>
    <th>Apellido Paterno</th>
    <th>Fecha Contratacion</th>
  </tr>
  <% for ejecutiva in @ejecutivas %>
    <tr>
      <td><%=h ejecutiva.rut %></td>
      <td><%=h ejecutiva.nombre %></td>
      <td><%=h ejecutiva.apellido_materno %></td>
      <td><%=h ejecutiva.apellido_paterno %></td>
      <td><%=h ejecutiva.fecha_contratacion %></td>
      <td><%= link_to "Show", ejecutiva %></td>
      <td><%= link_to "Edit", edit_ejecutiva_path(ejecutiva) %></td>
      <td><%= link_to "Destroy", ejecutiva, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to "Presupuestos", ejecutiva_presupuestos_path(ejecutiva) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ejecutiva", new_ejecutiva_path %></p>
