<% title "Ejecutivas" %>

<table>
  <tr>
    <th>Nombre</th>
  </tr>
  <% for ejecutiva in @ejecutivas %>
    <tr>
      <td><%=h ejecutiva.nombre_completo %></td>
      <td> ...
      <% if admin? -%>
        <%= link_to "Show", ejecutiva %> |
        <%= link_to "Edit", edit_ejecutiva_path(ejecutiva) %> |
        <%= link_to "Destroy", ejecutiva, :confirm => 'Are you sure?', :method => :delete %> |
      <% end -%>
      <%= link_to "Presupuestos", ejecutiva_presupuestos_path(ejecutiva) %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Crear nueva Ejecutiva", new_ejecutiva_path %></p>

