<% title "Ejecutiva" %>

<p>
  <strong>Rut:</strong>
  <%=h @ejecutiva.rut %>
</p>
<p>
  <strong>Nombre:</strong>
  <%=h @ejecutiva.nombre %>
</p>
<p>
  <strong>Apellido Materno:</strong>
  <%=h @ejecutiva.apellido_materno %>
</p>
<p>
  <strong>Apellido Paterno:</strong>
  <%=h @ejecutiva.apellido_paterno %>
</p>
<p>
  <strong>Fecha Contratacion:</strong>
  <%=h @ejecutiva.fecha_contratacion %>
</p>

<p>
  <%= link_to "Edit", edit_ejecutiva_path(@ejecutiva) %> |
  <%= link_to "Destroy", @ejecutiva, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ejecutivas_path %>
</p>
