<% form_for @prevision do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.check_box :isapre %>
    <%= f.label :isapre %>
  </p>

  <p><%= f.submit %></p>
<% end %>

