<% form_for [@presupuesto,@procedimiento], :url=>presupuesto_procedimientos_path do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :id %>
  Prestación: <%= text_field_tag :fonasa_mle_ids, nil, :size => 60 %> 
  Cod.Fonasa: <%= text_field_tag :fonasa_id %> <br />
  <p><%= f.submit %></p>
<% end %>
